<form class="form-signin text-center m-5 p-5" action="/auth/signup" method="POST" id="form-container-signin">
<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
        <label for="username">Username</label>
        <br><br>
        <label for="email">Email</label>
        <br><br>
        <label for="password">Password</label>
    </div>
    <div class="col-2">
        <input id="username-signin" type="text" name="username" placeholder="JonSnow">
        <br><br>
        <input id="email-signin" type="email" name="email" placeholder="Your email">
        <br><br>
        <input id="password-signin" type="password" name="password" placeholder="Your password">
    </div>
    <br>
</div>

    {{#if message }}
        <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button class="btn btn-custom">Create account</button>

  <p class="account-message top-margin">Do you already have an account?<a  href="/auth/login">Login</a></p>
</form>

