<nav>
    <ul>
        {{#if isUserLoggedIn }}
            <li> <a href="/launderers"> Find a Launderer </a> </li>
            <li> <a href="/dashboard"> See Dashboard </a> </li>
            <li> <a href="/logout"> Log Out </a> </li>



        {{else}}
    {{!-- <video autoplay loop controls="false" tabindex="0" id="video_background">
      <source src="/images/peli.mp4" type="video/mp4">
    </video> --}}

      {{!-- <video autoplay="autoplay" loop="loop" id="video_background" preload="auto" volume="50"/>
  <source src="/images/peli.mp4" type="video/mp4" /> --}}
{{!-- </video/> --}}
        {{/if}}
    </ul>
</nav>

