<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    {{!-- <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script> --}}
    {{!-- <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v1.3.0/turf.min.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script> --}}
    {{!-- <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script> --}}
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>

    {{!-- <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' /> --}}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="" id="nav-bar-header">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-shadow">
                <a class="navbar-brand" href="/">Destin.ia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse right" id="navbarNav">
                    <ul class="navbar-nav">
                        {{#if isUserLoggedIn }}
                            <li class="nav-item nav-link">Hello, {{ currentUserInfo.username }}.</li>
                            <li class="nav-item"><a class="nav-link" href="/auth/logout">Profile</a></li>

                            {{!-- <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li> --}}
                            <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>

                        {{else}}
                            <li class="nav-item"><a class="nav-link" href="/auth/signup">Sign Up</a></li>
                            <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
                        {{/if}}
                    </ul>
                </div>
            </nav>
        </header>
    </div>

  {{{body}}}
</body>
</html>

