<p> Welcome to {{ title }}. </p>

{{#if isUserLoggedIn }}
  
  <div class="row">
  <div class="col-9">
  <p>Mapa</p>
  <div id="map"></div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibjFiM2x1bmcwIiwiYSI6ImNqdDNhN3U2bjEzNzc0NHAxdzI3c252ZjUifQ.gx4WKfJ4pQqU7bLPizhtZA';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
        center: [-74.50, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });

</script>
</div>
<div class="col-3">
<p>columna 1</p>
</div>

</div>

{{/if}}





