{{#if isUserLoggedIn }}

    <div class="row mapping">
        <div class="col-8">
            {{!-- <div id="map" class="my-shadow my-border-radius"></div> --}}
        <div id="mapid" class="my-shadow my-border-radius"></div>
        </div>
        <div class="col-4 venues my-shadow my-border-radius">
            <p>Selecciona destino con la lupa</p>
            <label for="days">Días <input id="days" type="text" name="days"></label>
            <hr>
            <label for="radio">Radio: Mín.10 - Máx.100 [km] - <span id="actualMark">50</span>km</label>
            <input id="radio" list="tickmarks" type="range" name="radio" oninput="myFunction()" min="10000" max="100000">
            <datalist id="tickmarks">
                <option value="10000">
                <option value="20000">
                <option value="30000">
                <option value="40000">
                <option value="50000">
                <option value="60000">
                <option value="70000">
                <option value="80000">
                <option value="90000">
                <option value="100000">
            </datalist>
            <p>Venues</p>
            <div id="venues">
                {{!-- <div class="venue-card">
                    <form action="">                
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label"></label>            
                        <img src="" >

                        <div class="">
                        </div>
                    </form> --}}
                         <div class="blog-card">
                            <div class="meta">
                                <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
                            </div>
                            <div class="description">
                                <p>Opening a door to the future</p>
                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <p class="read-more">
                                    <a href="#">Información</a>
                                </p>
                            </div>
                        </div>                    
                </div>
            </div>
            <br>
        </div>
    </div>

<script>

    // APIS ---------------------------
    let lat = 40.432585, lng = -3.702897
    let circle, RADIUS, marker, place, geocoder, map
    map = L.map('mapid').setView([lat, lng], 5);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoibjFiM2x1bmcwIiwiYSI6ImNqdDNhN3U2bjEzNzc0NHAxdzI3c252ZjUifQ.gx4WKfJ4pQqU7bLPizhtZA'
    }).addTo(map);

    var myIcon = L.icon({
        iconUrl: '/images/marker_2-512.png',
        iconSize: [51, 51],
        iconAnchor: [25, 20],
    });
    //L.marker([lat, lng], {icon: myIcon}).addTo(map)
    //    .bindPopup('Madrid')

    geocoder = L.Control.geocoder({ defaultMarkGeocode: true })
        .on('markgeocode', function(e) {
            lat = e.geocode.center.lat
            lng = e.geocode.center.lng
            place = e.geocode.properties.address.city
            console.log(e.geocode.properties.address)
            myFunction()
            axios.post("http://localhost:3000/user/dashboard", { place, RADIUS })
                .then(response => {
                    let html = '';
                    
                    response.data.forEach(e => {
                        console.log(e)
                        L.marker([e.location.lat, e.location.lng], {icon: myIcon}).addTo(map)
                            .bindPopup(e.name)

                            html += `<div class="blog-card">
                            <div class="meta">
                                <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
                            </div>
                            <div class="description">
                                <p>${e.name}</p>
                                <p>${e.name}</p>
                                <p class="read-more">
                                    <a href="/user/places/${e.id}">Información</a>
                                </p>
                            </div>
                        </div>`;
                    })
                    document.getElementById('venues').innerHTML = html;
                    console.log(response.data)
                    })
                    .catch(err => console.log(err))
        })
        .addTo(map);

    myFunction =()=> {
        RADIUS = Number(document.getElementById("radio").value)
        if (circle) circle.removeFrom(map);
        circle = L.circle(L.latLng(lat, lng), RADIUS, {
            color: '#343a40',
            fillColor: '#6c757d',
            opacity: 1,
            weight: 1,
            fillOpacity: 0.6,
        }).addTo(map);
        document.getElementById('actualMark').innerHTML = parseInt(RADIUS/1000);
    }
</script>

{{!-- MODALBOX --}}

<div class="modal fade" id="loginModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                  <div class="card-header card-header-primary text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="material-icons">clear</i>
                    </button>

                    <h4 class="card-title">Log in</h4>
                    <div class="social-line">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-twitter"></i>
                      <div class="ripple-container"></div></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                    <form class="form" action="/auth/login" method="POST" id="form-container">
                        <p class="description text-center">Or Be Classical</p>
                        <div class="card-body">

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="material-icons">email</i></div>
                                  </div>
                                  <input id="email" type="text" name="email" placeholder="JonSnow@winter.fell" class="form-control">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="material-icons">lock_outline</i></div>
                                  </div>
                                  <input id="password" type="password" name="password" placeholder="Password..." class="form-control">
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer justify-content-center">
                    <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Log in</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}
<!-- Header -->
  <header class="index">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">DestinIA</h1>
        <p class="lead mb-0 p-2">¿Dónde vamos hoy?</p>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/auth/login">Viajar</a>
      </div>
    </div>
  </div>
</header>

  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row p-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase margin-top">¿Qué Hacemos?</h2><br>
          <h3 class="section-subheading text-muted">Una nueva forma de viajar.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img src="/images/index/travel.png" class="iconindex">
          </span>
          <h4 class="service-heading top-margin">La información que necesitas</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img src="/images/index/desert.png" class="iconindex">
          </span>
          <h4 class="service-heading top-margin">Descubre nuevos Destinos</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img src="/images/index/maps-and-flags.png" class="iconindex">
          </span>
          <h4 class="service-heading top-margin">Guarda tus Rutas</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light" id="portfolio">
    <div class="container">
      <div class="row p-5">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Portfolio</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
            <img class="img-fluid" src="/images/slide-demo.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Threads</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
            <img class="img-fluid" src="/images/slide-demo.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Explore</h4>
            <p class="text-muted">Graphic Design</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
            <img class="img-fluid" src="/images/slide-demo.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Finish</h4>
            <p class="text-muted">Identity</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
            <img class="img-fluid" src="/images/slide-demo.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Lines</h4>
            <p class="text-muted">Branding</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
            <img class="img-fluid" src="/images/slide-demo.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Southwest</h4>
            <p class="text-muted">Website Design</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
            <img class="img-fluid" src="/images/slide-demo.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Window</h4>
            <p class="text-muted">Photography</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase p-5">Contacta con nosotros</h2>
          <h3 class="section-subheading text-muted">Puedes rellenar el siguiente formulario</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Contactar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  {{!-- MODALBOX --}}

<div class="modal fade" id="loginModal" tabindex="-1" role="">
    <div class="modal-dialog modal-login" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                  <div class="card-header card-header-primary text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="material-icons">clear</i>
                    </button>

                    <h4 class="card-title">Log in</h4>
                    <div class="social-line">
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-twitter"></i>
                      <div class="ripple-container"></div></a>
                      <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                    <form class="form" action="/auth/login" method="POST" id="form-container">
                        <p class="description text-center">Or Be Classical</p>
                        <div class="card-body">

                            {{!-- CAMPO USUARIO --}}
                            {{!-- <div class="form-group bmd-form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="material-icons">face</i></div>
                                  </div>
                                  <input type="text" class="form-control" placeholder="First Name...">
                                </div>
                            </div> --}}

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="material-icons">email</i></div>
                                  </div>
                                  <input id="email" type="text" name="email" placeholder="JonSnow@winter.fell" class="form-control">
                                </div>
                            </div>

                            <div class="form-group bmd-form-group">
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="material-icons">lock_outline</i></div>
                                  </div>
                                  <input id="password" type="password" name="password" placeholder="Password..." class="form-control">
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer justify-content-center">
                    <button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Log in</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{/if}}