body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.navbar-brand {
  font-size: 2rem;
  font-weight: 600; }

header .container {
  font-size: 0.9rem; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 98%; }

.right {
  display: flex;
  flex-direction: row-reverse; }

#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; }

#video_pattern {
  background: #fff;
  position: fixed;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; }

#mapid {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 98%; }

.mapping {
  position: absolute;
  top: 10%;
  left: 0.5%;
  bottom: 1%;
  width: 100%; }

.venues {
  background: #343a40;
  color: #6c757d;
  padding: 20px; }

input[type="range"] {
  width: 100%; }

.my-border-radius {
  border-radius: 15px; }

.my-shadow {
  -webkit-box-shadow: 2px 5px 16px 0px #666, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #666, 5px 5px 15px 5px rgba(0, 0, 0, 0); }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.navbar-brand {
  font-size: 2rem;
  font-weight: 600; }

header .container {
  font-size: 0.9rem; }

#map {
  display: inline-block;
  width: 100%;
  height: 400px;
  padding: 15px; }

.right {
  display: flex;
  flex-direction: row-reverse; }

#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; }

#video_pattern {
  background: #fff;
  position: fixed;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1; }

.top-margin {
  margin-top: 20px; }

.venues {
  background: #343a40;
  color: #6c757d; }

.my-shadow {
  -webkit-box-shadow: 2px 5px 16px 0px #666, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #666, 5px 5px 15px 5px rgba(0, 0, 0, 0); }

.carousel-item {
  max-width: 800px; }

.carousel-inner {
  width: 100%;
  height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#bio {
  width: 700px;
  height: 100px; }

.index {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

header .container {
  position: relative;
  z-index: 2; }

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1; }

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black no-repeat center center scroll; }
  header video {
    display: none; } }

button {
  color: white !important; }

/*# sourceMappingURL=style.css.map */